/* Global styles */

/* Smooth scrolling for the entire site */
html {
    scroll-behavior: smooth;
}

.apply-button {
    background-color: #a30300;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.apply-button a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.apply-button:hover {
    background-color: #fff;
    border: 1px solid #a30300;
    color: #a30300;
    text-decoration: none;
    font-weight: 600;
}

.apply-button:hover a {
    color: #a30300;
}